.menu {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 320px;
    background-color: #fff;
    box-shadow: 0 0 11px #c8c8c8;
    transition: transform 0.3s;
    transform: translateX(-110%);
}

.menu.open {
    transform: translateX(0);
}

.container__button{
    top: 0;
    position: fixed;
}
.button__open-menu{
    z-index: 0;
}

.container__content{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.navigation__home{
    display: inline-block;
    position: fixed;
    border-radius: 20px;
    top: 0;
    right: 0;
    text-decoration: none;
    color: black;
    background-color: #fff;
}